/****** General ***********/
* {
	font-family: "Raleway", sans-serif;
	scroll-behavior: smooth;
}

:root {
	--main-color: #0065fc;
	--main-bg-color: #f2f2f2;
	--filter-bg-color: #deebff;
}

.fa-solid {
	color: var(--main-color);
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 17px;
}

p {
	font-size: 16px;
}

ul {
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	padding: 0px 50px;
	margin: 0px;
	gap: 35px;
}
.main-container {
	display: flex;
	flex-direction: column;
	max-width: 1440px;
	width: 100%;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

.section-title {
	margin: 0;
}

.card {
	background-color: white;
	border-radius: 20px;
	padding: 5px;
	filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
	transition: 0.4s;
}
.card:hover {
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.2));
}

.card img {
	object-fit: cover;
}

.card-title {
	font-size: 16px;
}

.euro {
	font-weight: 700;
}

.neutral-star {
	color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
	display: flex;
	gap: 40px;
	align-self: stretch;
}

.hebergements-and-populaires section {
	background-color: var(--main-bg-color);
	border-radius: 20px;
	padding: 30px;
	box-sizing: border-box;
}
/******** header **********/
header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
}

header #logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

header #logo img {
	height: 19px;
	padding: 30px 50px;
}

header nav ul {
	display: flex;
	padding: 0px 50px 0px 50px;
	list-style-type: none;
	gap: 68px;
}

header nav ul li {
	padding: 25px 25px;
	border-top: 4px solid transparent;
}

header nav ul li:hover {
	transition: 0.5s;
	border-color: var(--main-color);
}

header nav ul li a {
	color: black;
	text-decoration: none;
}

header nav ul li:hover a {
	color: var(--main-color);
}

/******** info-gloup ***********/
.info-group {
	display: flex;
	flex-direction: column;
	gap: 35px;
	justify-content: space-between;
}

/********* headline ***********/

.headline {
	display: flex;
	gap: 8px;
	flex-direction: column;
	justify-content: space-between;
}

.headline h1,
p {
	margin: 0;
}

/* ************* search-bar ************* */
.search-bar {
	display: flex;
	gap: 24px;
	height: 50px;
	align-items: center;
}

.search-bar input {
	font-weight: bold;
	font-size: 18px;
	border: none;
	outline: none;
	height: 100%;
	padding: 0 20px;
}

.search-bar input::placeholder {
	color: black;
	font-size: 18px;
	font-style: normal;
}

.fa-location-dot {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--filter-bg-color);
	color: black;
	border-radius: 15px 0px 0px 15px;
	width: 49px;
	height: 50px;
}

.fa-magnifying-glass {
	display: none;
}

.search {
	border-radius: 0px 15px 15px 0px;
	background-color: var(--main-color);
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 15px 15px;
	cursor: pointer;
	transition: 0.5s;
	outline: none;
	border: none;
	transition: 0.3s;
}

.search:hover {
	background-color: var(--filter-bg-color);
	color: var(--main-color);
}
/* *******filter ******* */
.filter {
	display: flex;
	height: 50px;
	gap: 20px;
	flex-wrap: wrap;
	flex: 1;
	align-items: center;
}
.block-filter {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
.filter button {
	background-color: white;
	height: 50px;
	padding: 4px 19px 4px 19px;
	font-size: 17px;
	border-radius: 25px;
	display: flex;
	align-items: center;
	font-weight: bold;
	border: solid 3px var(--main-bg-color);
	gap: 10px;
	transition: 0.3s;
}

.filter button:hover {
	background-color: var(--filter-bg-color);
}

/* ********infobar********* */

.info-bar {
	display: flex;
	align-items: center;
	gap: 10px;
}

.fa-info {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border: 2px solid var(--filter-bg-color);
	border-radius: 25px;
	width: 20px;
	height: 20px;
	transition: 0.3s;
}
/****** Hebergements ***********/

.hebergements {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 65%;
}
.hebergements h1,
h2,
h3 {
	margin: 0;
}

.hebergement-card {
	gap: 30px;
	display: flex;
	width: 100%;
}

.hebergement-card a {
	text-decoration: none;
    width: 100%;
}
.hebergement-card img {
	width: 100%;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
	transition: 0.3s;
	cursor: pointer;
	height: 140px;
	width: 100%;
	border-radius: 20px 20px 0px 0px;
}

.hebergements .card-content {
	margin: 0px 15px 0px 15px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom : 15px
}

/****** Populaires ***********/
.populaires {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 32%;
}

.populaires-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.populaires-cards {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.populaires-cards .card {
	display: flex;
}

.populaires-cards img {
	width: 33%;
	height: 146px;
	border-radius: 20px 0px 0px 20px;
}

.populaires-cards .card-content {
	width: 67%;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.populaires-cards .card-title {
	margin-top: 10px;
	margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
	margin: 0;
}

.populaires-cards .card-rating {
	margin-bottom: 5px;
}

/* *********activity ********* */

.activites {
	display: flex;
	padding: 30px;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	align-self: stretch;
}
.activites-card {
	display: flex;
	align-items: flex-start;
	gap: 30px;
	align-self: stretch;
}
.activites-card .card {
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex: 1 0 0;
}

.activites-card img {
	width: 100%;
	height: 380px;
	flex-shrink: 0;
	align-self: stretch;
	border-radius: 20px 20px 0px 0px;
}
.activites-card .card-subtitle {
	max-width: 100%;
	display: flex;
	justify-content: flex-start;
	padding: 19px;
	height: 59px;
	align-items: center;
}

/* ********** footer *********** */

footer {
	display: flex;
	align-self: stretch;
	background: var(--main-bg-color);
	gap: 30px;
}

footer section {
	display: flex;
	padding: 20px;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
	flex: 1 0 0;
	align-self: stretch;
}

footer section ul {
	display: flex;
	flex-direction: column;
	padding: 0;
	gap: 15px;
	text-decoration: none;
}

footer li {
	list-style: none;
}

footer a:hover {
	cursor: pointer;
	border-bottom: solid 2px black
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
	.hebergements-and-populaires {
		flex-direction: column;
		gap: 50px;
	}

	.hebergements {
		width: 100%;
	}

	.hebergement-card {
		gap: 30px;
		display: flex;
	}

	.populaires {
		width: 100%;
	}

	.populaires-cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.populaires-cards a {
		width: 30%;
	}

	.populaires-cards .card-title {
		font-size: 14px;
	}

	.populaires-cards .card-subtitle {
		font-size: 13px;
	}
	.activites-card img {
		width: 100%;
		height: 200px;
	}
	.activites-card .card-subtitle {
		height: 59px;
	}
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
	main {
		padding: 0px;
	}
	header {
		flex-direction: column;
	}

	header nav {
		position: relative;
	}

	header nav ul li {
		border-top: none;
		border-bottom: 4px solid transparent;
	}

	header nav ul li:hover {
		transition: 0.5s;
		border-bottom: 4px solid;
		border-color: var(--main-color);
	}

	header nav ul {
		padding: 0;
		gap: 0px;
	}

	header nav ul li {
		border-bottom: 4px solid var(--main-bg-color);    }

	header nav ul li:nth-child(1),
	header nav ul li:nth-child(2) {
		width: 50%;
		display: flex;
		justify-content: center;
	}

	.info-group {
		padding: 0px 20px;
	}

	.menu {
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 0;
		margin: 0;
		gap: 0;
	}
	.menu a {
		flex-direction: column-reverse;
		width: 50%;
	}
	.menu a .blue-bar {
		width: 100%;
	}

	.search {
		border-radius: 15px 15px 15px 15px;
		background-color: var(--main-color);
	}

	.search-bar {
		gap: 0px;
		justify-content: space-evenly;
	}
	.block-filter {
		align-items: center;
		justify-content: center;
	}
	.filter button {
		padding: 4px 19px 4px 19px;
		height: 50px;
		width: 150px;
		font-size: 14px;
		border-radius: 25px;
		align-items: center;
		border: solid 3px var(--main-bg-color);
		gap: 20px 10px;
		transition: 0.3s;
	}

	.hebergements-and-populaires {
		flex-direction: column-reverse;
		gap: 50px;
	}

	.hebergements-and-populaires section {
		padding: 30px 20px;
		border-radius: 0px;
	}

	.hebergements-and-populaires section:nth-child(1) {
		background-color: transparent;
	}

	.block-filter {
		align-items: center;
		justify-content: center;
	}
	.populaires-cards {
		gap: 15px;
	}

	.hebergement-card {
		gap: 30px;
		display: flex;
		flex-direction: column;
	}
	.search-text-buton {
		display: none;
	}
	.fa-magnifying-glass {
		color: white;
		display: flex;
	}

	.populaires {
		width: 100%;
	}
	.populaires-cards a {
		width: 100%;
	}
	.populaires-cards {
		flex-direction: column;
	}
	.activites-card {
		width: 100%;
		flex-direction: column;
		gap: 15px;
	}
	.activites-card .card {
		width: 100%;
	}
	.activites-card img {
		width: 100%;
	}
	.activites-card .card-subtitle {
		height: 59px;
	}

	footer {
		padding: 30px;
		flex-direction: column;
		gap: 50px;
	}

	footer section {
		padding: 0;
		border-radius: 0px;
	}
	footer section ul {
		flex-direction: column;
		gap: 15px;
	}
}
